<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Analytics.Robots.IgnoreRobots">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>
    <pipelines>
      <startTracking>
        <processor patch:before="processor[@type='Sitecore.Analytics.Pipelines.StartTracking.ProcessQueryStringPageEvent, Sitecore.Analytics']" type="KKings.Foundation.Popsicle.Pipelines.StartTracking.InitializeEventTracker, KKings.Foundation.Popsicle" />
      </startTracking>
      <endAnalytics>
        <processor type="KKings.Foundation.Popsicle.Pipelines.EndAnalytics.EndEventTracking, KKings.Foundation.Popsicle" />
      </endAnalytics>
      <registerPageEvent>
        <processor type="KKings.Foundation.Popsicle.Pipelines.RegisterPageEvent.RecordEvent, KKings.Foundation.Popsicle" />
      </registerPageEvent>
      <sessionEnd>
        <processor type="KKings.Foundation.Popsicle.Pipelines.SessionEnd.InitializeEventTracker, KKings.Foundation.Popsicle" />
      </sessionEnd>

      <postSessionEnd>
        <processor type="KKings.Foundation.Popsicle.Pipelines.PostSessionEnd.LogTrackedEvents, KKings.Foundation.Popsicle" />
        <processor type="KKings.Foundation.Popsicle.Pipelines.PostSessionEnd.FlushTrackingEvents, KKings.Foundation.Popsicle"/>
      </postSessionEnd>

      <ma.filterPageEvents>
        <processor type="KKings.Foundation.Popsicle.Pipelines.MAFilterPageEvents.FilterNonGoalEvents, KKings.Foundation.Popsicle"/>
      </ma.filterPageEvents>

      <ma.buildTrackingEvent>
        <processor type="KKings.Foundation.Popsicle.Pipelines.MABuildTrackingEvent.BuildTrackingEvent, KKings.Foundation.Popsicle"/>
      </ma.buildTrackingEvent>


      <ma.buildTrackingOutcome>
        <processor type="KKings.Foundation.Popsicle.Pipelines.MABuildTrackingOutcome.BuildTrackingOutcome, KKings.Foundation.Popsicle" resolve="true"/>
      </ma.buildTrackingOutcome>

      <ma.flushTrackingEvents>
        <processor type="KKings.Foundation.Popsicle.Pipelines.MAFlushTrackingEvents.EventsJobRunner, KKings.Foundation.Popsicle" resolve="true"/>
      </ma.flushTrackingEvents>
      
    </pipelines>
    <services>
      <configurator type="KKings.Foundation.Popsicle.RegisterDependencies, KKings.Foundation.Popsicle" />
    </services>

    <outcome>
      <outcomeManager>
        <param desc="repository">
          <patch:attribute name="type">KKings.Foundation.Popsicle.Outcome.OutcomeRepository, KKings.Foundation.Popsicle</patch:attribute>
        </param>
      </outcomeManager>
    </outcome>
  </sitecore>
</configuration>

