<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <startTracking>
        <processor patch:before="processor[@type='Sitecore.Analytics.Pipelines.StartTracking.ProcessQueryStringPageEvent, Sitecore.Analytics']" type="KKings.Foundation.Popsicle.Pipelines.StartTracking.InitializeEventTracker, KKings.Foundation.Popsicle" />
      </startTracking>
      <endAnalytics>
        <processor type="KKings.Foundation.Popsicle.Pipelines.EndAnalytics.EndEventTracking, KKings.Foundation.Popsicle" />
      </endAnalytics>
      <registerPageEvent>
        <processor type="KKings.Foundation.Popsicle.Pipelines.RegisterPageEvent.RecordEvent, KKings.Foundation.Popsicle" />
      </registerPageEvent>
      <sessionEnd>
        <processor type="KKings.Foundation.Popsicle.Pipelines.SessionEnd.InitializeEventTracker, KKings.Foundation.Popsicle" />
        <processor type="KKings.Foundation.Popsicle.Pipelines.SessionEnd.LogTrackedEvents, KKings.Foundation.Popsicle" />
      </sessionEnd>

      <ma.filterPageEvents>
        <processor type="KKings.Foundation.Popsicle.Pipelines.MAFilterPageEvents.FilterNonGoalEvents, KKings.Foundation.Popsicle"/>
      </ma.filterPageEvents>

      <ma.buildTrackingEvent>
        <processor type="KKings.Foundation.Popsicle.Pipelines.MABuildTrackingEvent.BuildTrackingEvent, KKings.Foundation.Popsicle"/>
      </ma.buildTrackingEvent>
    </pipelines>
    <services>
      <configurator type="KKings.Foundation.Popsicle.RegisterDependencies, KKings.Foundation.Popsicle" />
    </services>
  </sitecore>
</configuration>

