<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <forms>
      <generator type="KKings.Foundation.Popsicle.Forms.DefaultGenerator, KKings.Foundation.Popsicle" singleInstance="true" />
    </forms>
    <clientscripts>
      <htmleditor>
        <script src="/sitecore/shell/Controls/Rich Text Editor/Popsicle/InsertFormToken.js" language="javascript" key="popsicleJs" />
      </htmleditor>
    </clientscripts>
  </sitecore>
</configuration>