<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <ingestion>
      
      <dataReader type="KKings.Foundation.Popsicle.xDb.Ingest.DataReader.DefaultDataReader, KKings.Foundation.Popsicle" />
      <hydratorResolver type="KKings.Foundation.Popsicle.xDb.Ingest.Resolvers.DefaultHydratorResolver, KKings.Foundation.Popsicle">
        <FacetName>Personal</FacetName>
        <FacetTypeName>Sitecore.Analytics.Model.Entities.IContactPersonalInfo, Sitecore.Analytics.Model</FacetTypeName>
        <HydratorTypeName>KKings.Foundation.Popsicle.xDb.Ingest.Hydrators.ObjectHydratorFromJson, KKings.Foundation.Popsicle</HydratorTypeName>
      </hydratorResolver>
      
      <ingestionManager type="KKings.Foundation.Popsicle.xDb.Ingest.IngestionManager,KKings.Foundation.Popsicle">
        <param name="reader" ref="ingestion/dataReader" />
        <resolvers name="resolvers" hint="list">
          <resolver ref="ingestion/hydratorResolver" singleInstance="true"/>
        </resolvers>
      </ingestionManager>
    </ingestion>

    <pipelines>
      <startAnalytics>
        <processor type="KKings.Foundation.Popsicle.Pipelines.StartAnalytics.StartIngestion, KKings.Foundation.Popsicle" />
      </startAnalytics>
      <ma.ingestion>
        <processor type="KKings.Foundation.Popsicle.Pipelines.Ingest.RunHydrators, KKings.Foundation.Popsicle" resolve="true"/>
      </ma.ingestion> 
    </pipelines>
  </sitecore>
</configuration>
