<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <forms>
      <generator type="KKings.Foundation.Popsicle.Forms.DefaultMarkupGenerator, KKings.Foundation.Popsicle" singleInstance="true" />
    </forms>
    <clientscripts>
      <htmleditor>
        <script src="/sitecore/shell/Controls/Rich Text Editor/Popsicle/InsertFormToken.js" language="javascript" key="popsicleJs" />
      </htmleditor>
    </clientscripts>

    <pipelines>
      <renderField>
        <processor  type="KKings.Foundation.Popsicle.Pipelines.RenderField.ExpandMarketingForms, KKings.Foundation.Popsicle" patch:before="processor[@type='Sitecore.Pipelines.RenderField.AddBeforeAndAfterValues, Sitecore.Kernel']" />
      </renderField>

      <expandShortCodes>
        <processor type="KKings.Foundation.Popsicle.Pipelines.ExpandShortCodes.MarketingFormExpander, KKings.Foundation.Popsicle" resolve="true"/>
      </expandShortCodes>
    </pipelines>
  </sitecore>
</configuration>